ion-header {
  --ion-toolbar-background: var(--ion-color-dark);
  /* Your custom color */
  ion-title {
    text-align: center;
    font-family: 'regular';
  }
}
.content {
  min-height: 100vh;
  background-color: var(--ion-color-primary);
  padding: 20px;

  p {
    text-align: center;
  }
}


.card-holder {
  margin-top: 20px;
  display: flex;
  align-items: center; 
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
  background-color: var(--ion-color-primary);
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the image covers the avatar */
}

.avatar-letter {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 100;
  color: var(--ion-color-secondary);
  font-family: 'primary';
}

.title-holder p {
  font-family: 'semi';
  color: black;
  margin: 0; /* Remove default margin */
}