ion-header {
    --ion-toolbar-background: var(--ion-color-dark);
    /* Your custom color */
    ion-title {
        font-family: 'regular';
        text-align: center;
    }
  }
  
  .content {
    min-height: 100vh;
    background-color: var(--ion-color-primary);
  
    padding: 20px;
  
    p {
      text-align: center;
  
    }
  }