ion-header {
  --ion-toolbar-background: var(--ion-color-dark);
  /* Your custom color */
  ion-title {
    text-align: center;
    font-family: 'regular';
  }
}

.content {
  min-height: 100vh;
  background-color: var(--ion-color-primary);
  padding: 20px;

  p {
    text-align: center;
  }
}

.btn-container {
  border: 2px solid var(--ion-color-secondary);
  border-radius: 10px;
  margin-top: 20px;

  p {
    font-family: 'semi';
  }
}

.notes-row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.note-container {
  background-color: var(--ion-color-secondary);
  padding: 10px;
  margin-left: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 120px;

  h2 {
    font-family: 'semi';
    color: black;
    font-size: 16px;
    text-align: end;
  }

  h3 {
    font-family: 'regular';
    color: black;
    font-size: 13px;
    text-align: center;
  }
}