/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

@font-face {
    font-family: 'bold';
    src: url('./assets/Poppins/Poppins-Bold.ttf');
    color: var(--ion-color-tertiary)
  }
  
  @font-face {
    font-family: 'regular';
    src: url('./assets/Poppins/Poppins-Regular.ttf');
    color: var(--ion-color-tertiary)
  }
  
  @font-face {
    font-family: 'semi';
    src: url('./assets/Poppins/Poppins-SemiBold.ttf');
    color: var(--ion-color-tertiary)
  }
  
  @font-face {
    font-family: 'medium';
    src: url('./assets/Poppins/Poppins-Medium.ttf');
    color: var(--ion-color-tertiary)
  }


/* Custom styles for the bottom navigation bar */
ion-tab-bar.btm-navbar {
    --background: #1e1e1e; /* Background color of the tab bar */
    --border-color: transparent;
    --color: #8e8e93; /* Color of the tab icons and labels */
    --color-selected: #f8f8f8; /* Color of the selected tab icon and label */
  }
  
  ion-tab-bar.btm-navbar ion-tab-button {
    --ripple-color: #f8f8f8; /* Ripple effect color */
  }
  
  ion-tab-bar.btm-navbar ion-tab-button[aria-selected="true"] {
    background: rgba(255, 255, 255, 0.1); /* Background color of the selected tab */
    box-shadow: 0 2px 8px rgba(255, 255, 255, 0.2); /* Shadow effect on selected tab */
  }
  