ion-header {
  --ion-toolbar-background: var(--ion-color-dark);
  /* Your custom color */
  ion-title {
    text-align: center;
    font-family: 'regular';
  }
}

.content {
  min-height: 100vh;
  background-color: var(--ion-color-primary);

  padding: 20px;

  p {
    text-align: center;

  }
}